body {
    font-family: Arial;
}

.whole {
    width: 900px;
    background-color: #cbe5ff;
    /*The box model properties*/
    padding-left: 40px;
    padding-right: 40px;
    left: 100px;
    right: 100px;
    margin: auto;
}

.rect {
    position: fixed;
    border-top-style: dotted;
    border-left-style: dotted;
    border-bottom-style: dotted;
    top: 200px;
    right: -5px;
    color: #84befe;
    background-color: white;
}

.rect a {
    color: #84befe;
    text-align: center;
}

.rect a:link {
    text-decoration: none;
}

.rect a:visited {
    text-decoration: none;
}

.rect a:hover {
    text-decoration: underline;
}

.rect a:active {
    text-decoration: none;
}

.header {
    visibility: hidden;   
    width: 1000px;
    position: fixed;
    margin: auto;
}

.box {
    position: relative;
    left: 180px;
    top: 80px;
    z-index: 1;
    background-color: white;
    width: 200px;
    height: 200px;
}

.preview {
    position: relative;
    right: 180px;
    top: 40px;
    z-index: 0;
    background-color: #84befe;
    width: 750px;
    height: 400px;
}

.container {
    width: 905px;
    height: 500px;
    background-color: white;
    top: 450px;
    left: 180px;
    right: 0px;
    position: absolute;
    z-index: 1;
}

.nav a {	
    top: 460px;
    left: 800px;
    right: 0px;
    float: left;
    width: 100px;
	text-decoration: none;
	color: white;
	background-color: #84befe;
	padding: 10px;
	border-right: 1px solid white;
	text-align: center;
	z-index: 2;
}

.nav a:hover {
	background-color: white;
	color: #84befe;
	text-decoration: none;
}

.mid {
    top: 460px;
    left: 800px;
    right: 0px;
    float: left;
    width: 100px;
    height: 900px;
    background-color: white;
    z-index: 1;
    
    
}

.last {
    
}

.left {
    
}

.left-head {
    
}

.right {
    
}

.right-head {
    
}

.footer {
    
}